<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="cern.c2mon" level="INFO"/>
  <logger name="SourceDataTagLogger" level="WARN"/>
  <logger name="org.apache.activemq" level="INFO"/>
</configuration>
