.gradle


# Build files
*.class
build/
target/
temp.json

# CBNG files
*.log
bin/

# IDE files
*.iml
.idea/
.settings/
.gradle/*
.classpath
.project
.factorypath

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# MacOSX files
.DS_Store

activemq-data/
.CounterDataTagFallback.log
DataTagFallback.log
cbng-*.log

*~
*.orig
.metadata/
