<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <!-- 
    This file is only required for GitLab CI of https://gitlab.cern.ch/c2mon/c2mon 
   -->
  
  <servers>
    <server>
      <id>c2mon-releases</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
      <id>gitlab-registry.cern.ch</id>
      <username>${env.DOCKER_USERNAME}</username>
      <password>${env.DOCKER_PASSWORD}</password>
      <configuration>
        <email>${env.DOCKER_EMAIL}</email>
      </configuration>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>c2mon-releases</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      
      <!-- Variables used for distributionManagement section in pom.xml  -->
      <properties>
        <repository.releases.url>http://artifactory/beco-release-local</repository.releases.url>
        <repository.snapshots.url>http://artifactory/beco-development-local</repository.snapshots.url>
      </properties>
      
      <repositories>
        <repository>
          <id>central</id>
          <url>http://artifactory/release</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshot</id>
          <url>http://artifactory/development</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://artifactory/release</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snapshot</id>
          <url>http://artifactory/development</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
