<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cern.c2mon.web.configviewer.statistics.daqlog.DAQLogStatisticsMapper">

  <!-- retrieves the bar chart data -->
  <resultMap id="bar-chart-result" type="BarChartValue">
    <result property="value" column="d_value"/>
    <result property="seriesKey" column="series"/>
    <result property="categoryKey" column="category"/>
  </resultMap>
  
  <select id="getBarChartData" parameterType="java.lang.String" resultMap="bar-chart-result">
    SELECT d_value,series,category
    FROM ${tableName}
    <!-- ORDER BY d_value DESC -->
  </select>
  
  <resultMap id="stacked-bar-chart-result" type="StackedBarChartValue">
    <result property="value" column="d_value"/>
    <result property="seriesKey" column="series"/>
    <result property="categoryKey" column="category"/>
    <result property="group" column="series_group"/>
  </resultMap>
  
  <select id="getStackedBarChartData" parameterType="java.lang.String" resultMap="stacked-bar-chart-result">
    SELECT d_value,series,category,series_group
    FROM ${tableName}
    <!-- ORDER BY d_value DESC -->
  </select>
  
  <!-- retrieves the pie chart data -->
  <resultMap id="pie-chart-result" type="PieChartValue">
    <result property="value" column="data_value"/>
    <result property="key" column="data_key"/>
  </resultMap>
  
  <select id="getPieChartData" parameterType="java.lang.String" resultMap="pie-chart-result">
    SELECT data_value,data_key
    FROM ${tableName}
    <!-- ORDER BY d_value DESC -->
  </select>
  
  <resultMap id="bar-chart-collection-result" type="BarChartCollectionValue">
    <result property="memberName" column="member_name"/>
    <result property="value" column="d_value"/>
    <result property="seriesKey" column="series"/>
    <result property="categoryKey" column="category"/>
  </resultMap>
  
  <select id="getBarChartCollectionData" parameterType="java.lang.String" resultMap="bar-chart-collection-result">
    SELECT member_name,d_value,series,category
    FROM ${tableName} 
  </select>
  
  <resultMap id="pie-chart-collection-result" type="PieChartCollectionValue">
    <result property="memberName" column="member_name"/>
    <result property="value" column="data_value"/>
    <result property="key" column="data_key"/>
  </resultMap>
  
  <select id="getPieChartCollectionData" parameterType="java.lang.String" resultMap="pie-chart-collection-result">
    SELECT member_name,data_value,data_key
    FROM ${tableName} 
  </select>
  
  <resultMap id="stacked-bar-chart-collection-result" type="StackedBarChartCollectionValue">
    <result property="memberName" column="member_name"/>
    <result property="value" column="d_value"/>
    <result property="seriesKey" column="series"/>
    <result property="group" column="series_group"/>
    <result property="categoryKey" column="category"/>
  </resultMap>
  
  <select id="getStackedBarChartCollectionData" parameterType="java.lang.String" resultMap="stacked-bar-chart-collection-result">
    SELECT member_name,d_value,series,category,series_group
    FROM ${tableName} 
  </select>
  
</mapper>