<HTML>
<HEAD>
<style type="text/css">
body {
  font: 12px  Verdana, "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  color: #000000;
  margin: 1.5em;
  line-height: 110%;
  background: #f8f8f8
}

table {
  font-size: 12px;
  padding:0;
  margin:0;
  margin-bottom:10px;
  width:100%
}

 p {padding:0; margin: 0 0 1.0em 0;font-size: 12px;}
 
 
</style>
</HEAD>

</HTML>
<BODY>

<p>
<a href="http://diamon-pro1:8080/c2mon-web-configviewer/tagviewer/${ruleId}">${ruleName}</a> has changed to status 
<font 
	<#if ruleStatus == "ok">
		color="green"
	<#elseif ruleStatus == "warning">
		color="orange"
	<#elseif ruleStatus == "error">
		color="red"
	<#else>
		color="blue"
	</#if>
> <b>${ruleStatus}</b></font>
<#if ruleProblemDescription??>
<p>
<i>Triggering rule: ${ruleProblemDescription}</i>
</p>
</#if>
<#if (dataTags?size > 0)>

	<p>
	<hr size="1"/>
	<#list dataTags as metric>
	<#if metric.tagValueDetails != "">
		Details of "${metric.tagName}":<br/>
		${metric.tagValueDetails}
	</#if>
	<hr size="1"/>
	</#list>
	</p>
</#if>




