<style type="text/css">
body {
  font: 12px  Verdana, "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  color: #000000;
  margin: 1.5em;
  line-height: 150%;
  background: #f8f8f8
}

table {
	
  font-size: 12px;
  padding:0;
  margin:0;
  margin-bottom:20px;
  width:100%
}

 p {padding:0; margin: 0 0 1.0em 0;font-size: 12px;}
</style>
</HEAD>

</HTML>
<BODY>
<h2>${notificationType}</h2>

${tagName} is ${notificationType}

<table border="0" cellpadding="0" cellspacing="2">
	<tr><td>Name:</td><td>${tagName}</td></tr>
	<tr><td>ID:</td><td></td><a href="http://diamon-pro1:8080/c2mon-web-configviewer/tagviewer/${tagId}">${tagId}</a></td></tr>
	<tr><td>Tag Description:</td><td>${tagDescription}</td></tr>
	<tr><td>Server Time:</td><td>${tagServerTimestamp}</td></tr>
</table>

</BODY>