4109, LEMON.STATIC.OS,LEMON.STATIC.OS.KERNEL,LEMON.STATIC.OS.ARCH,LEMON.STATIC.OS.DIST
4115, LEMON.STATIC.VENDOR,LEMON.STATIC.MODEL,LEMON.STATIC.CPU.SPEED,LEMON.STATIC.CPU.MIPS,LEMON.STATIC.CPU,LEMON.STATIC.CPU.CORE
5033, PROC.NTPD.REQUIRED
5013, LEMON.SYS.BOOTTIME
4006, PROC.SSHD.REQUIRED
4105, !1
9001, SYS.KERN.UPTIME
9208, LEMON.STATIC.INTERFACE, LEMON.SYS.NET.IN, SYS.NET.IN, LEMON.SYS.NET.OUT, SYS.NET.OUT
9200, LEMON.STATIC.INTERFACE,LEMON.STATIC.IP,LEMON.STATIC.MASK,LEMON.STATIC.BROADCAST,LEMON.STATIC.GATEWAY,LEMON.STATIC.MAC,LEMON.STATIC.MTU,!1,!1024000
10003,!1,!3,!3
10004, SYS.KERN.UPTIME,!0,PROC.DMNCLIC.CPU,PROC.DMNCLIC.MEMSIZE,!0,!0,!0,!0,!0,!0
10005, !300
10008, !1
20002, SYS.LOADAVG