 /* -------------- general elements --------------- */

body {
  font: 12px  Verdana, "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  color: #000000;
  margin: 1.5em;
  line-height: 150%;
  background: #f8f8f8
}

table {
	
  font-size: 12px;
  padding:0;
  margin:0;
  margin-bottom:20px;
  width:100%
}

 p {padding:0; margin: 0 0 1.0em 0;font-size: 12px;}

 hr {
  border: 0px;
  border-top: 1px solid #c3c3c3 ;
  text-align:center;
  height: 0px;
}

/* ---------------- forms ------------------------ */

 form {
  border: none;
  margin: 0;
  display: inline;
}

 input.edit {
  width: 50%;
  font-size:11px;
}

a.wikilink2:link    { color: #448c44; text-decoration:none }

 .nowrap {
   white-space:nowrap;
}
/* --------- links ------------------- */

a { color: #448c44;
    text-decoration:none;
}

/*  a:link    { color: #448c44; text-decoration:none } */
a:visited { color: #448c44; text-decoration:none }
a:hover   { color: #448c44; text-decoration:underline }

/* --------- buttons ------------------- */
 input.button,  button.button{
  border: 1px solid   #c3c3c3;  
  color:  #333333;
  font-size:11px;
  background-color: #fff;
  text-decoration:none;
  cursor: pointer;
  margin-left:1px;
}

button.button{
  height:1.6em;
}


 div.level1 {margin-left: 0px;}
 div.level2 {margin-left: 4px;}

/* general headline setup */
h1,
h2{
  color: #333333;
  font-family: Verdana, "Lucida Grande",  Lucida, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-left:    0;
  margin-right:   0;
  margin-top:     1em;
  margin-bottom:  0.5em;
  padding-left:   0;
  padding-right:  0;
  padding-bottom:  3px;
  clear: left;
}

/* unordered lists */
 ul { 
  line-height: 1.5em;
  list-style-type: square;
  color:  #638c9c;
  font-size: 12px;
  margin: 0 0 0.5em 2em;
  padding: 0;
  list-style-image: none;
}

/* ordered lists */
 ol {
  font-size:  12px;
  line-height: 1.5em;
  margin: 0 0 0.5em 2.5em;
  padding: 0;
  color: #638c9c;
  font-weight: bold;
  list-style-image: none;
}

/* the list items overriding the ol definition */
 li {
  color: #333333;
  font-weight: normal;
}

 li.open {
  list-style-image: url(images/open.gif);
}

li.closed {
  list-style-image: url(images/closed.gif);
}



/* inline tables */
 table.inline {
  background-color: #fff;
  border-spacing: 0px;
    border-collapse: collapse;
}

 table.inline th {
  padding: 3px;
  border: 1px solid #436976;
  background-color: #bdd1d7;
  
}

 table.inline td {
  padding: 3px;
  border: 1px solid #436976;
}
 table.inline tr {
  padding: 3px;
  border: 1px solid #436976;
}

 table.inline td.bold {
  padding: 3px;
  border: 1px solid #436976;
}

td.notvalid {
  padding: 3px;
  border: 1px solid #436976;
  text-align : left;
  background-color : #66FFFF;
}
      
td.valid {
  padding: 3px;
  border: 1px solid #436976;
  text-align : left;
 
}
      
 .leftalign{
  text-align: left;
}

 .centeralign{
  text-align: center;
}
 .rightalign{
  text-align: right;
}


 input.edit, select.edit {
  border: 1px solid  #c3c3c3;
  color: #333333;
  background-color:  #fff;
  display: inline;
  font-size:11px;
}

 img {
  border: none;
 }
 toc {
  margin-left: 10px;
  margin-bottom: 0.5em;
  margin-top:0.5em;
  float:right;
  width: 20em;
  clear:both;
}
