<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <servers>
    <server>
      <id>artifactory</id>
      <username>c2mon-release</username>
      <password>\{DESede\}rbRBmJUK31x2VtAKJepnTA==</password>
    </server>
    <server>
      <id>central</id>
      <username>c2mon-release</username>
      <password>\{DESede\}rbRBmJUK31x2VtAKJepnTA==</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>release</name>
          <url>http://artifactory/release</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>parent-poms</id>
          <name>parent-poms-local</name>
          <url>http://artifactory/parent-poms-local</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>release</name>
          <url>http://artifactory/release</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>