<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />


  <property name="LOG_FILE"             value="${LOG_PATH:-/tmp}/c2mon.log"/>
  <property name="TAG_LOG_FILE"         value="${LOG_PATH:-/tmp}/c2mon.tag.log"/>
  <property name="RULE_LOG_FILE"        value="${LOG_PATH:-/tmp}/c2mon.ruletag.log"/>
  <property name="ERROR_LOG_FILE"       value="${LOG_PATH:-/tmp}/c2mon.error.log"/>
  <property name="FALLBACK_LOG_FILE"    value="${LOG_PATH:-/tmp}/c2mon.fallback.log"/>
  <property name="PERSISTENCE_LOG_FILE" value="${LOG_PATH:-/tmp}/c2mon.persistence.log"/>
  <property name="LASER_LOG_FILE"       value="${LOG_PATH:-/tmp}/c2mon.laser.log"/>
  <property name="ES_MODULE_LOG_FILE"   value="${LOG_PATH:-/tmp}/c2mon.elasticsearch.log"/>


  <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="TagAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${TAG_LOG_FILE}</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${TAG_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="RuleTagAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${RULE_LOG_FILE}</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${RULE_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="ErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${ERROR_LOG_FILE}</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${ERROR_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="FallbackLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${FALLBACK_LOG_FILE}</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${FALLBACK_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="PersistenceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${PERSISTENCE_LOG_FILE}</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${PERSISTENCE_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="LaserAlarmsAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LASER_LOG_FILE}</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LASER_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <appender name="AdminEmailAppender" class="ch.qos.logback.classic.net.SMTPAppender">
    <smtpHost>cernmx.cern.ch</smtpHost>
    <to>felix.ehm@cern.ch</to>
    <from>diamon.support@cern.ch</from>
    <subject>C2MON server warning</subject>
    <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
  </appender>

  <appender name="AdminSmsAppender" class="ch.qos.logback.classic.net.SMTPAppender">
    <smtpHost>cernmx.cern.ch</smtpHost>
    <to>0041764871240@mail2sms.cern.ch</to>
    <from>diamon.support@cern.ch</from>
    <subject>C2MON server warning</subject>
    <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
  </appender>

  <appender name="ElasticseachLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${ES_MODULE_LOG_FILE}</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${ES_MODULE_LOG_FILE}.%i</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <logger name="cern.c2mon.server.eslog" level="INFO" additivity="false">
    <appender-ref ref="ElasticseachLogAppender"/>
    <appender-ref ref="ErrorAppender"/>
  </logger>
  
  <logger name="org.elasticsearch" level="INFO" additivity="false">
    <appender-ref ref="ElasticseachLogAppender"/>
    <appender-ref ref="ErrorAppender"/>
  </logger>
  
  <!-- TODO: add CMW central logging appender -->

  <logger name="SourceDataTagLogger" level="INFO" additivity="false">
    <appender-ref ref="TagAppender"/>
  </logger>
  
  <logger name="RuleTagLogger" level="INFO" additivity="false">
    <appender-ref ref="RuleTagAppender"/>
  </logger>
  
  <!-- Used within c2mon-shared-persistence-manager to trace activities of the history fallback mechanism -->
  <logger name="ShortTermLogFallbackLogger" level="INFO" additivity="false">
    <appender-ref ref="FallbackLogAppender"/>
  </logger>
  
  <logger name="cern.c2mon.server.cachepersistence" level="DEBUG">
    <appender-ref ref="PersistenceAppender"/>
  </logger>
  
  <!-- c2mon-server-laser module -->
  <logger name="LaserAlarmsLogger" level="INFO" additivity="false">
    <appender-ref ref="LaserAlarmsAppender"/>
  </logger>
  
  <logger name="AdminSmsLogger" level="INFO">
    <appender-ref ref="AdminSmsAppender"/>
    <appender-ref ref="AdminEmailAppender"/>
  </logger>
  
  <logger name="AdminEmailLogger" level="INFO">
    <appender-ref ref="AdminEmailAppender"/>
  </logger>
  
  
  <logger name="cern.c2mon" level="DEBUG"/>
  <logger name="cern.c2mon.server.shorttermlog" level="DEBUG"/>
  <logger name="cern.c2mon.pmanager" level="DEBUG"/>
  <logger name="org.apache.activemq" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="ErrorAppender"/>
  </root>
</configuration>
