apiVersion: v1
kind: Service
metadata:
  namespace: c2mon-dev
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  ports:
  - name: "3000"
    port: 3000
    targetPort: 3000
    nodePort: 31323
  type: NodePort
  selector:
    io.kompose.service: grafana
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: c2mon-dev
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: grafana
    spec:
      containers:
      - image: cern/c2mon-ext:grafana-6.1.2-c2mon-1.8.43-SNAPSHOT
        name: grafana
        ports:
        - containerPort: 3000
        env:
        - name: GF_AUTH_ANONYMOUS_ENABLED
          value: "true"
        - name: GF_AUTH_ANONYMOUS_ORG_NAME
          value: "Main Org."
        - name: GF_AUTH_ANONYMOUS_ORG_ROLE
          value: "Editor"