<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender"> 
    <param name="Append" value="true"/>
    <param name="File" value="${catalina.home}/logs/c2mon-web-statistics.log"/>
    <param name="MaxFileSize" value="3MB" />
    <param name="MaxBackupIndex" value ="1" />
    <layout class="org.apache.log4j.PatternLayout">
    	<param name="ConversionPattern" value="%d %p %-80.90C %m%n"/>
    </layout>       
  </appender> 
  
  <logger name="ch.cern.tim" additivity="false">
  	<level value="debug" />
  	<appender-ref ref="fileAppender"/>
  </logger>

  <root> 
    <priority value ="debug" /> 
    <appender-ref ref="fileAppender" /> 
  </root>
  
  
  
</log4j:configuration>