body {
  background: #f8f8f8;
}

.navbar {
  background: #4D94CE;
}

h1, h2 {
  color: #317eac;
}

.navbar-brand {
  font-weight: bold;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

ul {
  margin-bottom: 0;
}

/* Reduce image size */
img[alt=c2mon-layer-overview] { width: 400px; }
img[alt=process-equipment] { width: 350px; }
img[alt=process-data-relation] { width: 700px; }
img[alt=supervision-tags] { width: 500px; }
img[alt=alarm-evaluation-example] { width: 600px; }
img[alt=eclipse-server-config] { width: 650px; }
