---
---
@import 'jekyll-theme-geneva-noir';
.navbar {
  background: #4D94CE;
}

.navbar-brand {
  font-weight: bold;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

/* Reduce image size */
img[alt="Tim Viewer: a client application build on top of C2MON"] { max-width: 50%; }
img[alt="Water monitoring station screen as shown on the Tim Viewer"] { max-width: 50%; }
img[alt=c2mon-layer-overview] { width: 400px; }
img[alt=process-equipment] { width: 350px; }
img[alt=process-data-relation] { width: 700px; }
img[alt=supervision-tags] { width: 500px; }
img[alt=alarm-evaluation-example] { width: 600px; }
img[alt=eclipse-server-config] { width: 650px; }
