<?xml version="1.0" encoding="UTF-8" ?>

	<!-- default log4j configuration for JUnit tests -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" threshold="debug"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!--
		Create a ConsoleAppender. Log messages are written to the console
	-->

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %x - %m%n" />
		</layout>
	</appender>

  <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="Append" value="true" />
    <param name="File" value="log/TEST.log" />
    <param name="MaxBackupIndex" value="10" />
    <param name="MaxFileSize" value="100MB" />
    <param name="BufferedIO" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %x - %m%n"/>
    </layout>
  </appender>

  <appender name="SpectrumAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="Append" value="true" />
    <param name="File" value="log/SPECTRUM.log" />
    <param name="MaxBackupIndex" value="10" />
    <param name="MaxFileSize" value="100MB" />
    <param name="BufferedIO" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %x - %m%n"/>
    </layout>
  </appender>


	<logger name="org.springframework" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="SourceDataTagLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<logger name="SpectrumEventProcessor" additivity="false">
		<level value="trace"/>
		<appender-ref ref="SpectrumAppender" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
	</root>

</log4j:configuration>